.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 2;
  pointer-events: none;
}

.slider::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.slider::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.slideTrack {
  display: flex;
  width: calc(150px * 16);
  animation: scroll 20s linear infinite;
}

.slide {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide span {
  font-size: 1.5rem;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 8));
  }
}
